<div id="numpad" onselectstart="return false" class="numpad" style="display: none">
    <span class="val"><span class="content">&nbsp;</span></span><ul>
        <li class="key">7</li>
        <li class="key">8</li>
        <li class="key">9</li>
    </ul>
    <ul>
        <li class="key">4</li>
        <li class="key">5</li>
        <li class="key">6</li>
    </ul>
    <ul>
        <li class="key">1</li>
        <li class="key">2</li>
        <li class="key">3</li>
    </ul>
    <ul>
        <li class="key wide">0</li>
    </ul>
    <ul>
        <li class="key" id="clear">C</li>
        <li class="key" id="delete">Del</li>
        <li class="key" id="accept">OK</li>
    </ul>
</div>
