/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad {
  opacity: 0.7;
  background-color: #cccccc;
  position: absolute;
  display: block;
  width: 260px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #b3b3b3;
  z-index: 1000000;
}
/* line 34, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad .val {
  position: relative;
  display: inline-block;
  width: 232px;
  padding: 6px;
  border: solid 1px #b3b3b3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 4px;
  overflow: hidden;
}
/* line 44, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad .val .content {
  float: right;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  text-wrap: none;
  white-space: nowrap;
}
/* line 57, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 6px;
}
/* line 64, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad ul:last-child {
  margin-bottom: 6px;
}
/* line 67, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad li {
  display: inline-block;
  font-size: 36px;
  line-height: 72px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  height: 72px;
  width: 72px;
  margin: 0px;
  padding: 0px;
  border: solid 2px #b3b3b3;
  background-color: #cccccc;
  color: #4d4d4d;
  margin-left: 6px;
  cursor: pointer;
}
/* line 85, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad li:last-child {
  margin-right: 6px;
}
/* line 89, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.numpad li.wide {
  width: 162px;
}

/*	
	Hover does not exist on touch devices, so only add style if not a touch device
	Assumes page is using modernizr
*/
/* line 102, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.no-touch .numpad li:hover {
  background-color: #cb6828;
  color: #e6e6e6;
}

/* line 107, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.val {
  position: relative;
  display: inline-block;
  width: 116px;
  padding: 3px;
  border: solid 3px #b3b3b3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
  overflow: hidden;
}
/* line 121, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.val .content {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  color: gray;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  text-wrap: none;
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
  cursor: hand;
}

/* line 139, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.times {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 2px;
  overflow: hidden;
}
/* line 150, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/number-pad/sass/default/numpad.scss */
.times .content {
  color: gray;
  float: left;
  font-size: 14px;
  line-height: 14px;
  background-color: white;
}
